{% extends "base.html" %}

{% block title %}
  {{ path }}
{% endblock %}

{% block left %}
  <h1>
    {% if path|string == "/" %}
      <a href="/">/</a>
    {% else %}
      {% for pathpart in path.parents|reverse() %}
        {% if pathpart|string == "/" %}
          <a href="/">/</a>
        {% else %}
          <a href="{{ pathpart }}">
            {{ pathpart.stem }}
          </a>
          /
        {% endif %}
      {% endfor %}
      {{ path.name }}
    {% endif %}
  </h1>
{% endblock %}

{% block center %}
  <ul>
    {% for directory in directories_list %}
      <li>
        <a href="{{ directory }}">
            📁 {{ directory.name }}
        </a>
      </li>
    {% endfor %}
    {% for file in files_list %}
      <li>
        <span>
          📋 {{ file.name }}
        </span>
      </li>
      {% endfor %}
  </ul>
{% endblock %}
