{% extends 'base.html' %}

{% block title %}
  {{ path }}
{% endblock %}

{% block left %}
  <h1>
    {% if path|string == "/" %}
      <a href="/">/</a>
    {% else %}
      {% for pathpart in path.parents|reverse() %}
        {% if pathpart|string == "/" %}
          <a href="/">/</a>
        {% else %}
          <a href="{{ pathpart }}">
            {{ pathpart.stem }}
          </a>
          /
        {% endif %}
      {% endfor %}
      {{ path.name }}
    {% endif %}
  </h1>
{% endblock %}

{% block center %}
{% for folder in folder_directory %}
  <a href="{{ folder }}">
    <button>
      {{ folder.name }}
    </button>
  </a>
{% endfor %}
{% for file in files_directory %}
  <button disabled>
    {{ file.name }}
  </button>
{% endfor %}
{% endblock %}
